# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
phantomjs-2.1.1-linux-i686.tar.bz2
phantomjs-2.1.1-linux-x86_64.tar.bz2
phantomjs-2.1.1-windows
phantomjs-2.1.1-macosx